.navbar{
    height : 80px;
    width : 100%;
    background-color: rgb(7, 7, 72);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar-logo{
    height : auto;
    width : 70px;
    padding : 5px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 100px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}