.product-list {
    display: flex;               /* Use flexbox for horizontal layout */
    flex-wrap: wrap;             /* Allow wrapping of cards */
    gap: 20px;                   /* Space between cards */
    justify-content: flex-start; /* Align cards to the left */
    padding: 20px;               /* Add padding around the container */
    overflow: hidden;            /* Prevent overflow */
  }

  .category-filter {
    margin: 10px 0 0 20px;
    /* font-size: 1rem; */
    background-color: white;
    width: 25%;
    padding: 10px;
  }
  
  
